<launch>
  <arg name="custom_param_file" default="$(find flex_nav_turtlebot_bringup)/param/dummy.yaml"/>
  <!--arg name="robot_namespace"   default="turtlebot"/-->

  <arg name="scan_topic"        default="/scan"/>
  <arg name="odom_frame_id"     default="/odom"/>
  <arg name="base_frame_id"     default="/base_footprint"/>
  <arg name="global_frame_id"   default="/map"/>
  <arg name="odom_topic"        default="/odom" />
 


  
    <!-- Path Planning/GLOBAL PLANNER -->
    <node pkg="flex_nav_planners" type="flex_nav_planners_get_path_node" respawn="false" name="high_level_planner" output="screen">
      <rosparam file="$(find flex_nav_turtlebot_bringup)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find flex_nav_turtlebot_bringup)/param/global_costmap_params.yaml" command="load" />
      <rosparam file="$(arg custom_param_file)" command="load" />
      <param name="planner" value="navgraph_solver/NavgraphGlobalPlanner" />
      <param name="global_planner" value="global_planner/GlobalPlanner" />
      <param name="points_file" value="/home/divel/catkin_ws/src/navgraph_solver/navgraphs/points_rviz.csv"/>
      <param name="adjacency_file" value="/home/divel/catkin_ws/src/navgraph_solver/navgraphs/adjacency_rviz.csv"/>
      <remap from="odom" to="$(arg odom_topic)"/>
      <remap from="scan" to="$(arg scan_topic)"/>
      <remap from="move_base_simple/goal" to="flex_nav_global/goal"/>
      <!-- reset frame_id parameters using user input data -->
      <param name="global_costmap/global_frame"     value="$(arg global_frame_id)"/>
      <param name="global_costmap/robot_base_frame" value="$(arg base_frame_id)"/>

    </node>

    <!-- Path Follower Control For DWA/LOCAL PLANNER -->
    <node pkg="flex_nav_controllers" type="flex_nav_controllers_follow_path_node" respawn="false" name="low_level_planner" output="screen">
      <param name="controller_frequency" value="10.0" />
      <rosparam file="$(find flex_nav_turtlebot_bringup)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find flex_nav_turtlebot_bringup)/param/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find flex_nav_turtlebot_bringup)/param/dwa_local_planner_params.yaml" command="load" />
      <rosparam file="$(arg custom_param_file)" command="load" />
      <param name="planner" value="dwa_local_planner/DWAPlannerROS"/>
      <remap from="odom" to="$(arg odom_topic)"/>
      <remap from="scan" to="$(arg scan_topic)"/>
      <!--remap from="cmd_vel" to="stamped_cmd_vel_mux/input/navi"/-->

      <!-- reset frame_id parameters using user input data -->
      <param name="local_costmap/global_frame"      value="$(arg odom_frame_id)"/>
      <param name="local_costmap/robot_base_frame"  value="$(arg base_frame_id)"/>
      <param name="DWAPlannerROS/global_frame_id"   value="$(arg odom_frame_id)"/>
    </node>
    
    <!-- Path Follower control for TEB/LOCAL PLANNER -->
    <node pkg="flex_nav_controllers" type="flex_nav_controllers_follow_path_node" respawn="false" name="low_level_planner1" output="screen">
      <param name="controller_frequency" value="10.0" />
      <rosparam file="$(find flex_nav_turtlebot_bringup)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find flex_nav_turtlebot_bringup)/param/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find flex_nav_turtlebot_bringup)/param/teb_local_planner_params.yaml" command="load" />
      <rosparam file="$(arg custom_param_file)" command="load" />
      <param name="planner" value="teb_local_planner/TebLocalPlannerROS"/>
      <remap from="odom" to="$(arg odom_topic)"/>
      <remap from="scan" to="$(arg scan_topic)"/>
      <!--remap from="cmd_vel" to="stamped_cmd_vel_mux/input/navi"/-->

      <!-- reset frame_id parameters using user input data -->
      <param name="local_costmap/global_frame"      value="$(arg odom_frame_id)"/>
      <param name="local_costmap/robot_base_frame"  value="$(arg base_frame_id)"/>
      <param name="DWAPlannerROS/global_frame_id"   value="$(arg odom_frame_id)"/>
    </node>

</launch>
